html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates";
}

.container {
  width: 1120px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  top: -36px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  width: 536px;
  background-color: #000;
}

.main {
  /* background-image: url(../../img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

/* .main-box {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 1090px;
} */

/* section {
  background-color: #fff;
  width: 1090px;
} */

body {
  transition-duration: 100ms;
  transition-delay: 50ms;
}

button {
  transition-duration: 100ms;
  transition-delay: 50ms;
}
