<section class="bigger-number" >
    <div class="container">
<h2 class="bigger-number__title" >Введіть 3 числа</h2>
<ul class="bigger-number__buttonslist" >
    <li class="buttonlist__item" >
        <button class="bigger-number__button " >Введіть число </button>
    </li>
    <li class="buttonlist__item" >
        <button class="bigger-number__button " >Введіть число </button>
    </li>
    <li class="buttonlist__item" >
        <button class="bigger-number__button " >Введіть число </button>
    </li>
</ul>

<h3>Найбільше число, яке ви ввели - (число)</h3>

</div>
</section>