<section class="bigger-number">
  <div class="container">
    <h2 class="bigger-number__title">Введіть 3 числа</h2>
    <ul class="bigger-number__list">
      <li class="bigger-number__item">
        <label>
          <input type="text" class="bigger-number__input" placeholder="Введіть число" data-input="bigger-number-first"/>
        </label>
      </li>
      <li class="bigger-number__item">
        <label>
          <input type="text" class="bigger-number__input" placeholder="Введіть число" data-input="bigger-number-second"/>
        </label>
      </li>
      <li class="bigger-number__item">
        <label>
          <input type="text" class="bigger-number__input" placeholder="Введіть число" data-input="bigger-number-third"/>
        </label>
      </li>
    </ul>
    <h2 class="bigger-number__subtitle">
      Найбільше число, яке ви ввели - <span>(число)</span>
    </h2>
  </div>
</section>
