<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator-box">
      <label>
        <input type="text" class="calculator__input" placeholder="Введіть число"/>
      </label>
      <ul class="calculator__list">
        <li class="calculator__item">
          <button type="button" class="calculator__button">+</button>
        </li>
        <li class="calculator__item">
          <button type="button" class="calculator__button">*</button>
        </li>
        <li class="calculator__item">
          <button type="button" class="calculator__button">-</button>
        </li>
        <li class="calculator__item">
          <button type="button" class="calculator__button">/</button>
        </li>
      </ul>
      <label>
        <input type="text" class="calculator__input" placeholder="Введіть число"/>
      </label>
      <button class="calculator__result">=</button>
      <label>
        <button type="text" class="calculator-result__button">Результат</button>
      </label>
    </div>
  </div>
</section>
