<section class="calculator" >
<div class="container" >
<h2 class="calculator-title" >Калькулятор</h2>
<ul class="calculator-bloklist" >
    <li class="bloklist-item" >
        <button class="bloklist-btnumber" >Ведіть число</button>
    </li>
    <li class="bloklist-item" >
        <ul class="bloklist-anklist" >
            <li class="anklist-item" >
                <button class="anklist-button" >+</button>
            </li>
            <li class="anklist-item" >
                <button class="anklist-button" >*</button>
            </li>
            <li class="anklist-item" >
                <button class="anklist-button" >-</button>
            </li>                
            <li class="anklist-item" >
                <button class="anklist-button" >/</button>
            </li>
        </ul>
    </li>
    <li class="bloklist-item" > 
        <button class="bloklist-btnumber" >Введіть число</button>
    </li>
    <li class="bloklist-item" >
        <button class="bloklist-item_equal " >=</button>
    </li>
    <li class="bloklist-item" >
        <button class="bloklist-item_result" >Результат</button>
    </li>
</ul>
</div>
</section>