<section class="footer" >
<div class='container' >
<picture>
    <source
      media="(min-width: 320px)"
      srcset="../img/header/header-logo@1x.png 1x"
    />
    <source
      media="(min-width: 320px)"
      srcset="../img/header/header-logo@2x.png 2x"
    />
    <img src="../img/header/header-logo@1x.png" alt="" />
  </picture>


<ul class="footer__list" >
    <li class="footer__list-item" >
        <h3 class="footer__list-text" >Тел: +38 (123) 456 78 90</h3>
    </li>
    <li class="footer__list-item" >
        <h3 class="footer__list-text" >E-Mail: codingmagic@gmail.com</h3>
    </li>
    <li class="footer__list-item" >
        <h3 class="footer__list-text" >Facebook: CodingMagic</h3>
    </li>
    <li class="footer__list-item" >
        <h3 class="footer__list-text" >Twitter: CodingMagic</h3>
    </li>
    <li class="footer__list-item" >
        <h3 class="footer__list-text" >Instagram: CodingMagic</h3>
    </li>
</ul>

<input class="footer__input"  type="text" name="Ваша ел. адреса..." >
<button class="footer__subscribe-button" >Підписатись</button>
<h3 class="footer__subscribe-text" >*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</h3>

</div>
</section>