<div class="footer-backdrop is-hidden-footer" data-backdrop="footer">
  <div class="footer-modal-box">
    <button type="button" class="footer-modal__button" data-button="close-footer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
      >
        <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
      </svg>
    </button>
    <h2 class="footer-modal__title">Дякую за підписку!</h2>
    <div class="footer-modal-icons-box">
        <img src="../img/modals/sword1.png" alt="sword" class="footer-modal__icon">
        <img src="../img/modals/puzzle1.png" alt="puzzle" class="footer-modal__icon">
        <img src="../img/modals/tic-tac-toe1.png" alt="tic-tac-toe" class="footer-modal__icon">
        <img src="../img/modals/game-development1.png" alt="game-development" class="footer-modal__icon">
    </div>
  </div>
</div>
