<header class="header" id="header">
  <div class="container">
  <div class="header-logo">
    <picture>
      <source
        media="(min-width: 320px)"
        srcset="../img/header/header-logo@1x.png 1x"
      />
      <source
        media="(min-width: 320px)"
        srcset="../img/header/header-logo@2x.png 2x"
      />
      <img src="../img/header/header-logo@1x.png" alt="" />
    </picture>
  </div>
  <ul class="header__list">
    <li class="header__item">
      <a href="#" class="header__link">Інтерактив</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11"
        height="7"
        viewBox="0 0 11 7"
        fill="none"
      >
        <path
          d="M10 1L5.5 6L1 1"
          stroke="black"
          stroke-width="0.75"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">Наша команда</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">Контакти</a>
    </li>
  </ul>
  <div class="header__settings">
    <label>
      <input type="checkbox" class="header__switch" />
      <span class="switch__round"></span>
    </label>
    <p class="welcome__text">Вітаємо, User!</p>
  </div>
  </div>
</header>
