@@ -0,0 +1,25 @@
<section class="modal">
<!-- <h2 class="modal__h2">Привіт!</h2>
<p class="modal__text">
    Ви потрапили на сайт інтерактивних ігор та завдань
    Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
    Бажаємо Вам гарно провести час!
</p> -->

<!-- <p class="modal__text">
    Привіт!
    Ви потрапили на сайт інтерактивних ігор та завдань
    Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
    Бажаємо Вам гарно провести час!
</p> -->


<p class="modal__text2">Введіть своє ім'я</p>
<label>
<input          
type="text"
class="modal__input"
placeholder="Ваше ім'я"/>
</label>
<button type="button"  class="modal__button">
    Зберегти
</button>
</section>