<section class="welcome__modal">
  <h2 class="welcome-modal__title">Привіт!</h2>
  <p class="welcome-modal__text">
    Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам
    сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно провести
    час!
  </p>
  <label class="welcome-modal__label">Введіть своє ім'я</label>
    <input type="text" class="welcome-modal__input" placeholder="Ваше ім'я" />
  <button type="button" class="welcome-modal__button">Зберегти</button>
</section>
