<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <ul class="team__list">
      <li class="team__item">
        <img src="..." alt="student" />
        <h3 class="student-name__title">Семен</h3>
        <p class="team__description">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
      <li class="team__item">
        <img src="..." alt="student" />
        <h3 class="student-name__title">Ілля</h3>
        <p class="team__description">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
      <li class="team__item">
        <img src="..." alt="student" />
        <h3 class="student-name__title">Віталій</h3>
        <p class="team__description">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </li>
    </ul>
  </div>
</section>
