<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="team-section">
    <div class="team-container">
    <ul class="team-list">
        <li class="">
<h2 class="team-title">ProDev</h2>
<img src="" alt="" class="team-img" />
<p class="team-text">Віталій</p>
<p class="team-done">...</p>
        </li>
        <li>
            <p class="team-title">ProDev</p>
            <img src="..." alt="" class="team-img" />
            <p class="...">Семен</p>
            <p class="..">...</p>
        </li>
        <li class="...">
            <p class="team-title">ProDev</p>
            <img src="..." alt="" class="team-img" />
            <p class="team-text">Ілья</p>
            <p class="team-done">...</p>
        </li>
    </ul>
</div>
</section>

</body>
</html>