<section class="scientists">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>
    <ul class="scientists__list">
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
        <!-- <p class="scientists__text">Albert Einshtein</p>
        <p class="scientists__birth">1879-1955</p> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
      <li class="scientists__item">
        <!-- <img src="" alt="" class="scientists__img" /> -->
      </li>
    </ul>
    <div class="test">
      <div class="scientists-filter-box">
        <button type="button" class="scientists-filter__button" data-num="1">
          Які вчені народилися в 19 ст.
        </button>
        <button type="button" class="scientists-filter__button" data-num="2">
          Відсортувати вчених за алфавітом
        </button>
        <button type="button" class="scientists-filter__button" data-num="3">
          Відсортувати вчених за кількістю прожитих років
        </button>
        <button
          type="button"
          class="scientists-filter__button scientists-filter-last__button"
          data-num="4"
        >
          Знайти вченого, який народився найпізніше
        </button>
      </div>

      <div class="scientists-filter-box scientists-filter-box-2">
        <button type="button" class="scientists-filter__button" data-num="5">
          Знайти рік народження Albert Einshtein
        </button>
        <button type="button" class="scientists-filter__button" data-num="6">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
        <button type="button" class="scientists-filter__button" data-num="7">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
        <button
          type="button"
          class="scientists-filter__button scientists-filter-last__button"
          data-num="8"
        >
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </div>
    </div>
  </div>
</section>
