<section class="scientists-section">
  <div class="scientists-container">
    <h2 class="">Обери вченого/их</h2>
    <img src="" alt="" class="scientists-firstrow" />
    <img src="" alt="" class="scientists-firstrow" />
    <img src="" alt="" class="scientists-firstrow" />
    <img src="" alt="" class="scientists-secondrow" />
    <img src="" alt="" class="scientists-secondrow" />
    <img src="" alt="" class="scientists-secondrow" />
    <img src="" alt="" class="scientists-thirdrow" />
    <img src="" alt="" class="scientists-thirdrow" />
    <img src="" alt="" class="scientists-thirdrow" />
    <img src="" alt="" class="scientists-fourthrow" />
    <img src="" alt="" class="scientists-fourthrow" />
    <img src="" alt="" class="scientists-fourthrow" />
    <p class="scientists-birth">Які вчені народилися в 19 ст.</p>
    <p class="scientists-alphabet">Відсортувати вчених за алфавітом</p>
    <p class="scientists-time">
      Відсортувати вчених за кількістю прожитих років
    </p>
    <p class="scientists-younger">Знайти вченого, який народився найпізніше</p>
    <p class="scientists-Enshtein">Знайти рік народження Albert Einshtein</p>
    <p class="scientists-surnameС">
      Знайти вчених, прізвища яких починаються на на літеру “С”
    </p>
    <p class="scientists-surnameА">
      Видалити всіх вчених, ім’я яких починається на “А”
    </p>
    <p class="scientists-oldertoyounger">
      Знайти вченого, який прожив найдовше і вченого, який прожив найменше
    </p>
    <p class="scientists-lettersmatch">
      Знайти вчених, в яких співпадають перші літери імені і прізвища
    </p>
  </div>
</section>
