<div class="welcome-backdrop is-hidden-welcome" data-backdrop="welcome">
  <div class="welcome-modal-box">
    <button type="button" class="welcome-close__button" data-close="welcome">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
      >
        <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
      </svg>
    </button>
    <h2 class="welcome-modal__title">Привіт!</h2>
    <p class="welcome-modal__text">
      Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам
      сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно провести
      час!
    </p>
    <form class="welcome-modal__form">
      <label class="welcome-modal__label">Введіть своє ім'я:</label>
      <input
        type="text"
        class="welcome-modal__input"
        placeholder="Ваше ім'я"
        data-input="welcome"
      />
      <!-- <p class="welcome-eror__text"></p> -->
      <button
        type="button"
        class="welcome-modal__button"
        data-button-save="welcome"
      >
        Зберегти
      </button>
    </form>
    <div class="welcome-modal-icons-box">
      <img
        src="../img/modals/sword1.png"
        alt="sword"
        class="welcome-modal__icon"
      />
      <img
        src="../img/modals/puzzle1.png"
        alt="puzzle"
        class="welcome-modal__icon"
      />
      <img
        src="../img/modals/tic-tac-toe1.png"
        alt="tic-tac-toe"
        class="welcome-modal__icon"
      />
      <img
        src="../img/modals/game-development1.png"
        alt="game-development"
        class="welcome-modal__icon"
      />
    </div>
  </div>
</div>
