.calculator {
    padding-bottom: 66px;
}

.calculator__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 49px;
}

.calculator-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__list {
  display: flex;
  margin-left: 38px;
  margin-right: 38px;
  max-width: 62px;
  flex-wrap: wrap;
  gap: 10px;
}

.calculator__input {
  padding: 10px 20px;
  border-radius: 20px;
  background: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.calculator__input::placeholder {
  color: #7e7e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.calculator__button {
  padding: 5px 10px;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator__button.color-light {
  background-color: rgba(138, 206, 207, 1)  ;
  color: white;
}

.calculator__result {
  padding: 5px 10px;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-left: 38px;
  margin-right: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-result__button {
  padding: 10px 20px;
  border-radius: 20px;
  background: #d7d7d7;
  border: none;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
