

.guess-number__box{
    display: flex;
    justify-content: center;
}

.guess-number__title{
    text-align: center;
    /* margin-left: 382px;
    margin-right: 382px; */
}

.guess-number__input{

    /* margin-left: 257px; */

}



.guess-number__text{
    margin-left: 202px;
    /* margin-right: 257px; */
    /* text-align: center; */
}