.header {
  padding-top: 21px;
  padding-bottom: 36px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
}

.header-logo-box {
  display: block;
  margin-left: 9px;
}

.header-logo__title {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.header-logo__description {
  color: #000;
  font-family: "Sacramento";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 2px;
  text-align: right;
}

.header__list {
  display: flex;
  gap: 50px;
  margin-left: 81px;
}

.header__link {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.header__settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 240px;
}

.welcome__text {
  color: #000;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin-left: 51px;
}

/*! switch */
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  cursor: pointer;
  margin-bottom: 13px;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
