.team {
  padding-bottom: 70px;
}

.container {
}

.team__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.team__item {
  /* display: none; */
  opacity: 0;
  position: absolute;
}

.is-show {
  /* display: block; */
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 300ms;
  transition-delay: 1s;
  transition-timing-function: ease-in;
  transition: opacity 1s ease-in;
  position: relative;
}

.team__img {
  margin-left: auto;
  margin-right: auto;
}

.student-name__title {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}

.team__description {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.team-slider__button {
  background-color: transparent;
}

.team-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 328px;
}

.team-pagination {
  margin-top: 24px;
}

.team-pagonation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.team-pagination__button {
  width: 18px;
  height: 3px;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.team-active-pagination {
  width: 30px;
  background-color: #797979;
}
