.scientists {
}

.container {
}

.scientists__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.scientists__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 59px;
  max-width: 577px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.scientists__item {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.scientists__img {
}

.test {
    display: flex;
    gap: 36px;
    margin-top: 36px;
    margin-left: 135px;
}

.scientists-filter-box {
  display: block;
  text-align: right;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 36px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto; */
}

.scientists-filter-box-2 {
    text-align: left;
}

.scientists-filter__button {
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.scientists-filter-last__button {
    margin-bottom: 0;
}