.bith {
  padding-bottom: 66px;
}

.bith__title {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
}

.bith__input {
  /* position: relative; */
  padding: 10px 45px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #d7d7d7;
  border: none;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  width: 170px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.year-of-birth__label {
    position: relative;
}

.bith-search__button {
  position: absolute;
  right: -3px;
  top: 0;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  background: #000;
  border: none;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bith__input::placeholder {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.bith__text {
  color: #039900;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 149px;
}

.bith__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
