.bith__title{
    text-align: center;
color: #000;
font-family: Montserrat Alternates;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 36px;
}

.bith__input{
    display: inline-flex;
    padding: 10px 45px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    color: #7E7E7E;
font-family: Montserrat Alternates;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bith-search__button{
    display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
border-radius: 0px 20px 20px 0px;
background: #000;
border: none;
}

.bith__text{
    color: #039900;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 149px;
}

.bith__box{
    display: flex;
    justify-content: center;
}
